<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="CoffeeServices.asmx" />
            </files>
        </defaultDocument>
  </system.webServer>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <authentication mode="Windows" />
      <authorization>
        <allow roles="UP\d-All-Ireland" />
        <!--<deny users="*" />-->
      </authorization>
      
      <webServices>
        <protocols>
          <add name="HttpPost" />
        </protocols>
      </webServices>
        <identity impersonate="false" />
    </system.web>
</configuration>